.pokecarts_containar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokecarts_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}